<%- include("../partials/_head") -%>

    <% if (user !== null) { %>
    <p>You are logged in as <%= user.username %></p>
    <% } %>
    
        <h1>Women in Tech</h1>

        <form id="search-form" action="/" method="GET">
            <input name="name" id="name-query" type="text" />
            <input type="submit" value="Search" />
        </form>

        <% people.forEach(person => { %>
            <a href="/profile/<%= person.id %>">
                <p><%= person.name %></p>
            </a>
        <% }) %>
    </body>
</html>
